<!DOCTYPE html>
<html>
	<head>
		<title>book blog</title>
		<!---link to main stylesheet--->
		<link rel="stylesheet" type="text/css" href="/css/main.css">
	</head>
	<body>
		<nav>
    		<ul>
        		<li><a href="/">home</a></li>
	        	<li><a href="/current-books">current books</a></li>
        		<li><a href="/blog">blog</a></li>
    		</ul>
		</nav>
	<div class="container">
			
			{{ content }}
			
			</div><!---/.container--->
			<footer>
	    		<ul>
        		<li><a href="refboarder@hotmail.com">email</a></li>
        		<li><a href="https://github.com/malignantmerlin">github.com/malignantmerlin</a></li>
			</ul>
		</footer>
	</body>
</html>
